.phoneNumberDiv,
.email-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  animation: fadeIn ease 1s;
  gap: 1rem;
  min-width: 20rem;
  width: 25rem;
}

.phoneNumber,
.email {
  font-size: 2rem;
  user-select: all;
}

.phoneIcon,
.email-icon {
  margin: 0;
  height: 3rem;
  width: auto;
  color: white;
  background-color: white;
  padding: 0.2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  animation: fadeIn ease 1s;
  margin: 2rem;
}

input[type='text'],
input[type='email'] {
  width: 25rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0.5rem;
  cursor: pointer;
}

textarea {
  width: 25rem;
  height: 10rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0.5rem;
}
